/* Styling for About component */

/* Main Section Styles */
main {
    padding: 4rem 0; /* Add padding to the main section */
  }
  
  /* Hero Section Styles */
  .section-hero {
    background-color: #f4f3ff; /* Light purple background color */
    padding: 6rem 0; /* Padding for the hero section */
  }
  
  /* Container Styles */
  .container {
    max-width: 1200px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  /* Grid Styles */
  .grid-two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns layout */
    gap: 4rem; /* Gap between grid items */
  }
  
  /* Hero Content Styles */
  .hero-content {
    padding: 0 2rem; /* Padding for hero content */
  }
  
  .hero-content p {
    font-size: 1.8rem; /* Font size for paragraphs */
    color: #333; /* Text color */
    margin-bottom: 2rem; /* Bottom margin for paragraphs */
  }
  
  .hero-content h1 {
    font-size: 3.6rem; /* Larger font size for headings */
    color: #333; /* Heading color */
    margin-bottom: 2rem; /* Bottom margin for headings */
  }
  
  .hero-content h2 {
    font-size: 2.8rem; /* Font size for subheadings */
    color: #333; /* Text color */
    margin-top: 3rem; /* Top margin for subheadings */
  }
  
  .hero-content ul {
    margin-top: 1.5rem; /* Top margin for unordered lists */
  }
  
  .hero-content ul li {
    font-size: 1.8rem; /* Font size for list items */
    color: #333; /* Text color */
    margin-bottom: 1rem; /* Bottom margin for list items */
  }
  
  /* Button Styles */
  .btn {
    padding: 1rem 2rem; /* Padding for buttons */
    font-size: 1.6rem; /* Font size for buttons */
    color: #fff; /* Text color */
    background-color: #646cff; /* Background color */
    border: none; /* Remove button border */
    border-radius: 0.8rem; /* Border radius */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition effect */
  }
  
  .btn.secondary-btn {
    background-color: transparent; /* Transparent background color */
    border: 2px solid #646cff; /* Border with primary color */
    margin-left: 2rem; /* Left margin for secondary button */
  }
  
  .btn:hover,
  .btn.secondary-btn:hover {
    background-color: #5251e3; /* Darker background color on hover */
  }
  
  /* Hero Image Styles */
  .hero-image img {
    max-width: 100%; /* Maximum width for images */
    height: auto; /* Auto height */
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .container,
    .grid-two-cols {
      flex-direction: column; /* Stack items vertically on smaller screens */
    }
  }
  